@model IEnumerable<SoundLabSocial.Models.SongListItem>

@{
    ViewBag.Title = "Songs";
}

<h2>Songs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SongName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongArtist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SongAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.SongId)
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongArtist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongAlbum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUTC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SongId }) |
                @Html.ActionLink("Details", "Details", new { id = item.SongId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SongId })
            </td>
        </tr>
    }

</table>
