@model SoundLabSocial.Models.PersonalAudioDetail

@{
    ViewBag.Title = "Personal Audio Details";
}

<h2>Personal Audio Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalAudioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalAudioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudioMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudioMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaylistId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaylistId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Personal Audio", "Edit", new {  id = Model.PersonalAudioId  }) |
    @Html.ActionLink("Back to Personal Audio List", "Index")
</p>
