@model SoundLabSocial.Models.PlaylistDetail

@{
    ViewBag.Title = "Playlist Details";
}

<div>
    <div class="col-md-12">
        <br />
        <h2>Playlist Details</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlaylistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUTC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedUTC)
                </th>
                <th></th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.PlaylistId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.PlaylistName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreatedUTC)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ModifiedUTC)
                </td>
                <th></th>
            </tr>
        </table>
    </div>

    <div class="col-md-6">
        <br />
        <h2>Playlist Songs</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Songs.First().SongName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs.First().SongArtist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs.First().SongAlbum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Songs.First().ReleaseYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUTC)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Songs)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.SongId)
                    <td>
                        @Html.DisplayFor(modelItem => item.SongName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongArtist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongAlbum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedUTC)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        <br />
        <h2>Playlist Messages</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalAudios.First().AudioName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonalAudios.First().AudioMessage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedUTC)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.PersonalAudios)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.PersonalAudioId)
                    <td>
                        @Html.DisplayFor(modelItem => item.AudioName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AudioMessage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedUTC)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="col-md-12">
    @Html.ActionLink("Edit Playlist", "Edit", new { id = Model.PlaylistId }) |
    @Html.ActionLink("Back to Playlist List", "Index")
    <hr />
</div>